<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Squizer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="../../assets/css/ie9.css" /><![endif]-->
</head>
<body>

<!-- Banner -->
<section id="banner">
    <div class="inner split">
        <section>
            <h2 th:text="${quiztitle}"/>
        </section>
        <section>
            <ul class="actions">
                <li><a href="../../index" class="button special">Index</a></li>
                <li><a href="../../logout" class="button special">Logout</a></li>
            </ul>
        </section>
    </div>
</section>
		<!-- One -->
        <section id="one" class="wrapper">
            <div class="inner split">
                <section>
                    <h2>Résultats du quiz</h2>
                    <p style="color:red; font-weight:700" th:if="${error_msg} != null" th:text="${error_msg}" ></p>
                    <p th:text="${resultsentence}"></p>

                </section>
                <section>
                    <ul class="checklist">
                        <li th:each="quiz: ${quizzes}">
                            <a th:href="@{/index/quiz/{id}(id=${quiz.quiz_id})}" th:text="${quiz.title}"></a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>

    <!-- Two -->
        <section id="two" class="wrapper style2 alt">
            <div class="inner">
                <ul class="actions special">
                    <li><a href="quizalea" class="button alt">TENTER UN AUTRE QUIZ</a></li>
                </ul>
            </div>
        </section>

<section th:text="${answersarray}"> </section>
<!-- Footer -->
<footer id="footer">
    <div class="copyright">
        &copy; Fer des quizzes. All rights (not) reserved. <a href="mailto:kolthar.levilain@gmail.com">Kolthar</a>. Design: <a href="mailto:kolthar.levilain@gmail.com">Kolthar</a>.
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>